.note {
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #fefefe;
    padding: 0.5em;
    border: solid 2px #DAB88B;
    border-radius: 10px;
    height: fit-content;

    &__text {
        font-size: .9em;
        margin-bottom: .5em;
        color: #1B1A17;
    }

    &__footer {
        width: 100%;
        display: flex;
        justify-content: flex-end;

        &__remove-icon {
            width: 25px;
            height: 25px;
            cursor: pointer;

            svg {
                transition: all 0.15s ease-in-out;
                color: #DD4A48;

                &:hover {
                    color: #df6664;
                }
            }
        }
    }
}