* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
  text-decoration: none;
  outline: none;
  list-style: none;
  font-size: 1.05em;
}

body {
  background: #FFF0EE;
}

.wrapper {
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1.5em;
}
