* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: none;
    font-family: 'Roboto', sans-serif;
    color: #33322e;
}

body {
    background: #f4d799;
}

.wrapper {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 60px 40px 40px 40px;
}
